
#sign-in {

    text-align: center;
    padding-top: 80px;

    form {
        
        label {

            margin-bottom: 40px;
            display: inline-block;
            font-size: 1.2em;
        }

        input {

            display: block;
            margin: 0 auto;
            margin-bottom: 30px;
            text-align: center;
        }

        button {

            margin-bottom: 20px;
        }

        input, button {

            min-width: 30%;
        }
    }
}